.about_container {
    position: relative;
}

.about_kv {
    background-size: auto;
    background: transparent url("http://oq9er0rnu.bkt.clouddn.com/about_kv.png") no-repeat 50% 50%;
    height: 0;
    padding-bottom: 33.85%;
}

.about_content_container {
    position: absolute;
    width: 870px;
    left: 50%;
    top: 43.5%;
    padding: 54px 57px 60px;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.about_content_title {
    font-size: 32px;
    color: #DC2C2C;
    float: left;
    margin-right: 30px;
}

.about_content_desc p {
    font-size: 14px;
    color: #333;
    line-height: 24px;
}

.about_content_logo1 {
    margin-top: 2px;
}

.about_content_logo2 {
    margin-top: 8px;
    visibility: hidden;
}

.about_empty {
    height: 688px;
    background-color: #fafafa;
}