.project_container {
    height: 100%;
}

.project_kv {
    background-size: auto;
    background: transparent url("http://oq9er0rnu.bkt.clouddn.com/about_kv.png") no-repeat 50% 50%;
    height: 0;
    padding-bottom: 33.85%;
}

.project_content_container {
    position: absolute;
    margin-top: -84px;
    font-size: 38px;
    width: 100%;
}

.project_title {
    color: #FFFFFF;
    font-size: 38px;
    margin-left: 20%;
}

.project_title {
    color: #FFFFFF;
    margin-left: 20%;
}

.project_empty {
    height: 0;
    padding-bottom: 230%;
    background-color: #fafafa;
}